<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/app.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Node.js Chat App</a>
  </nav>
  <div class="container">
    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>Users</b></p>
    <div id="users"></div>
    <hr>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
      </span>
      <input type="text" id="data" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" placeholder="Send message">
    </div>
    <br>
    <div id="conversation"></div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/js/celeb.js"></script>
  <script src="../public/js/app.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>