body {
  font-family: Consolas, monospace;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.dashboard {
  padding: 5em 1em;
}
.border {
  border: 1px solid #ccc;
  padding: .25em;
}
.tweet {
  margin-bottom: 1.25em;
  padding: .75em;
}
.profile-pic {
  border: 1px solid #ccc;
  height: 56px;
  padding: .25em;
  width: 56px;
}
.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.importantTag {
  font-weight: 900;
}